.heroContainer {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .heroContainer > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .heroContainer > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .heroBtns {
    margin-top: 32px;
  }
  
  .heroBtns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }

  .buttonOutline {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;
    padding: 20px 26px;
    font-size: 20px;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
  }
  
  .buttonOutline:hover {
    transition: all 0.3s ease-out;
    background: var(--primary);
    color: #242424;
  }
  
  /* You may also want to add active state styles for when the button is clicked */
  .buttonOutline:active {
    background-color: #e6e6e6; /* Light grey to indicate the button is pressed */
  }
  
  @media screen and (max-width: 960px) {
    .heroContainer > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .heroContainer > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .heroContainer > p {
      font-size: 30px;
    }
  
    .btnMobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }