
.teamMember {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content */
    text-align: center;
    background-color: #fff; /* Adjust if you want a different background for the cards */
    padding: 20px; /* Adjust the padding */
    border-radius: 10px; /* Adjust the border-radius */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow to each card */
    transition: transform 0.3s ease-in-out; /* Optional: Adds a transition effect on hover */
  }
  
  .teamMember:hover {
    transform: translateY(-5px); /* Optional: Slight raise effect on hover */
  }

  .memberPhoto {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* If you want circular images */
    margin-bottom: 10px;
    border: 5px solid #f4f4f4; /* Optional: Adds a border around the photo */
  }
  
  .memberName {
    font-size: 20px; /* Adjust font size as needed */
    margin: 5px 0;
    color: #333;
  }
  
  .memberTitle {
    font-size: 18px;
    color: #666; /* Adjust color as needed */
    margin-bottom: 15px;
  }